fieldset.title {
  text-align: center;
  width: fit-content;
  margin: auto;
}
fieldset.menubar {
  margin: auto;
  width: 350px;
}
fieldset.footerbar{
  margin: auto;
  width: 500px;
}
#thanksgiving {
  margin-left: 28%;
  border: 2px solid rgb(0, 0, 0);
}

a {
  margin-right: 10px;
  margin-left: 10px;

}
.line {
  border-right: solid 1px black;
  padding-right: 20px;

}
.line2 {
  margin-right: 10px;
  margin-left: 10px;
  border-right: solid 1px black;
  padding-right: 20px;
}

#homeimagesright {
  width: 200px;
  height: 325px;
  padding-right: 300px;
  padding-bottom: 75px;
}

#homeimagesleft {
  width: 200px;
  height: 325px;
  padding-left: 550px;
  padding-right: 350px;
  padding-bottom: 75px;
}

html {
  background-color: rgb(255, 255, 255);
}
